<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 
 

 <style>
     .form-gap {
    padding-top: 70px;
}
 </style>
    </head>
    <body>    
          <div class="form-gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="text-center">
                              <h3><i class="fa fa-lock fa-4x"></i></h3>
                              <h5 style="color: red">
                                <%= typeof err!='undefined'?err:''%>
                              </h5>
                              <h2 class="text-center">Reset Password</h2>
                              <p>You can reset your password here.</p>
                              <div class="panel-body">
                
                                <form id="register-form" role="form" autocomplete="off" class="form" method="POST" action="/authentication/ressetingdone/<%= email %>">
                
                                  <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-lock color-blue"></i></span>
                                      <input id="email" name="password" placeholder="Reset Password" class="form-control"  type="password">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock color-blue"></i></span>
                                        <input id="email" name="cpassword" placeholder="Confirm Password" class="form-control"  type="password">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                  </div>
                                  
                                  <input type="hidden" class="hide" name="token" id="token" value=""> 
                                </form>
                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                        
                </div>
            </div>

    </body>
</html>




















