<html>
    <body>
        <h1>Thanks for confirmation.</h1><br>
        <!-- <h1>Congrats <%= name %>! You have been verified!</h1> -->
        <h1>Your registration is now complete</h1><br>
        <h1>Please login to our app to continue</h1>
    </body>
</html>